# Obtain weekday prototypes
The main objective of this task is to create every weekday prototypes. We want to model two types of days based on the consumption activity of each building:
- **Active** day.
- **Inactive** day.

Thus, for each counter on the database, we'll get 13 day prototypes (6 working days * 2 types of days + 1 inactive day corresponding to Sundays). Moreover, there are 97 different buildings, so we expect to get 13 * 97 prototypical days.

This previously mentioned activity will be defined by calculating the mean of Sundays' consumptions for each building (greater than this value plus some margin will indicate an active day; lower or equal than this value plus the margin should be labelled as an inactive day).

#### Directory structure
./<br></br>
notebook/<br></br>
    &emsp;|--- data_preprocessing<br></br>
    &emsp;&emsp;&emsp;&emsp;|--- weekday_prototypes.ipynb<br></br>
out/<br></br>
    &emsp;|--- consumptions.zip

In [1]:
CONS_PATH = 'C:/Users/thmas/OneDrive - Universidad de Castilla-La Mancha/Informática/TFG/out/'

In [2]:
import pandas as pd
import numpy as np

In [3]:
raw = pd.read_pickle(CONS_PATH + 'consumptions.zip')
raw

,building_id,weekday,active,type,consumptions
day,,,,,
2012-02-24,89,4,False,1,"[nan, nan, nan, nan, 0.0, 25.9682072759303, 34..."
2012-02-25,89,5,False,1,"[8.0, 8.56965980289508, 7.83041664589254, 7.83..."
2012-02-26,89,6,False,1,"[9.0, 9.0, 8.47872481882854, 8.52127518117146,..."
2012-02-27,89,0,False,1,"[9.93594069444675, 9.0, 10.0, 18.4133936140153..."
2012-02-28,89,1,False,1,"[15.0, 15.0, 15.0, 23.0, 41.3474893206788, 39...."
...,...,...,...,...,...
2020-03-28,2233,5,False,1,"[8.96294314928535, 9.1999884489703, 9.22916758..."
2020-03-29,2233,6,False,1,"[9.05122649923577, 9.10856876843712, 9.0668798..."
2020-03-30,2233,0,False,1,"[9.14786320617928, 9.46424320377272, 12.979311..."
2020-03-31,2233,1,False,1,"[9.09777728991234, 9.49875136817228, 13.959012..."
2020-04-01,2233,2,False,1,"[8.96336531305147, 9.63089935549347, 12.769867..."

In [4]:
def get_prototype(df: pd.DataFrame, mode: str = 'mean') -> pd.DataFrame:
    weekday = df['weekday'].iloc[0]
    active = df['active'].iloc[0]
    consumer_type = df['type'].iloc[0]
    
    cons = []
    for i in range(24):
        i_consumptions = []
        for j in range(df.shape[0]):
            i_consumptions.append(df['consumptions'].iloc[j][i])

        if mode == 'std':
            cons.append(np.nanstd(i_consumptions))
        else:
            cons.append(np.nanmean(i_consumptions))
            
    return pd.DataFrame({'weekday': weekday, 'active': active, 'type': consumer_type, 'consumptions': [cons]})

In [6]:
mean_proto, std_proto = pd.DataFrame(), pd.DataFrame()
for d in range(0, 7):
    df = raw[raw['weekday'] == d]
    df['daily'] = df['consumptions'].apply(np.nansum)
    
    for a in (True, False):
        df_a = df[df['active'] == a]
        
        for t in df_a['type'].unique():
            df_t = df_a[df_a['type'] == t]
            
            mean_proto = mean_proto.append(get_prototype(df_t, mode='mean'), ignore_index=True)
            std_proto = std_proto.append(get_prototype(df_t, mode='std'), ignore_index=True)

mean_proto

D:\PythonEnvironments\pytfg\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    weekday  active  type                                       consumptions
0         0    True     1  [10.895687980366292, 14.315760487655078, 17.42...
1         0    True     2  [39.54708221775872, 51.43227218871105, 68.6322...
2         0    True     0  [2.0315225688299905, 2.401072742409194, 2.7675...
3         0   False     1  [21.13959733877297, 23.531137443405353, 25.752...
4         0   False     0  [2.018456316902241, 2.4330310719642037, 2.7912...
5         1    True     1  [11.002494318189354, 14.320689738548413, 17.51...
6         1    True     2  [40.17847127749248, 52.17325169642676, 69.7777...
7         1    True     0  [2.1494240500050656, 2.504473065200021, 2.8623...
8         1   False     1  [21.34350289297516, 23.851559912570817, 26.363...
9         1   False     0  [2.0329991548331976, 2.451854301429503, 2.8260...
10        2    True     1  [11.094807404178857, 14.495168904883498, 17.77...
11        2    True     2  [40.50107304353805, 52.66563769651586, 70.6467...
12        2    True     0  [2.1579875904508614, 2.5060958902841715, 2.850...
13        2   False     1  [21.197877276646953, 23.680898351189953, 26.08...
14        2   False     0  [2.070259760712884, 2.5347817514464133, 2.9144...
15        3    True     1  [11.17282787699956, 14.5798661941104, 17.83205...
16        3    True     2  [40.51031379797905, 52.82596949330316, 70.7892...
17        3    True     0  [2.169450484681923, 2.520709765717885, 2.86080...
18        3   False     1  [21.20735760658077, 23.790015993592977, 26.067...
19        3   False     0  [2.069077329873581, 2.520174690636469, 2.88580...
20        4    True     1  [11.373925861740052, 14.696272533258625, 18.05...
21        4    True     2  [42.19266484144945, 54.30670895896751, 72.5705...
22        4    True     0  [2.2665882610820605, 2.629709869425974, 2.9966...
23        4   False     1  [21.701426737085256, 24.921508928470104, 28.27...
24        4   False     0  [2.1786907695959576, 2.782333964796878, 3.2521...
25        5    True     1  [17.108992554953183, 17.880520896630482, 18.64...
26        5    True     2  [79.50273007004287, 79.9132986236544, 82.07634...
27        5    True     0  [3.0673531340995943, 3.0617643295296535, 3.155...
28        5   False     1  [21.884509248680164, 22.01145944203527, 21.871...
29        5   False     0  [2.1762068433188113, 2.2143567204248584, 2.273...
30        6    True     1  [17.156504218171037, 17.843269978285395, 18.30...
31        6    True     2  [78.92750694820047, 79.19420120870808, 79.7147...
32        6    True     0  [3.288274927608083, 3.3078008679392834, 3.3663...
33        6   False     1  [21.70423892787476, 21.93613793646006, 21.6712...
34        6   False     0  [2.147872066753455, 2.1739027666513824, 2.2069...